<!DOCTYPE html>
<html lang="es">
  <head>
    <meta
      charset="UTF-8"
      name="viewport"
      content="width=device-width, initial-scale=1.0"
    />

    <link
      rel="icon"
      type="image/x-icon"
      href="/static/icon/favicon.ico"
    />

    <link
      rel="stylesheet"
      type="text/css"
      href="/static/css/public/checkout.css"
    />

    <title><%= title %></title>
  </head>

  <body>
    <div id="bg-img"></div>

    <div class="wrapper">
      <header>
        <h1>Beraka Productos</h1>
        <p>Facturar</p>
      </header>

      <main>
        <section class="container">
          <h2>Tu Factura</h2>

          <hr />

          <% data.ordered.forEach(product => { %>
            <div class="subcontainer">
              <h2><%= product.name %></h2>
              <p>$ <%= product.cost.toLocaleString("es-CO") %></p>
              <p>Pediste: <%= product.quantity %></p>
            </div>
          <% }); %>

          <hr />

          <p>Total: <span>$ <%= data.total.toLocaleString("es-CO") %></span></p>

          <form
            action="/checkout"
            method="POST"
          >
            <input type="hidden" name="tag" value="<%= data.tag %>">
            <input type="hidden" name="unparsed" value="<%= data.unparsed %>">
            
            <input
              class="entries"
              type="text"
              name="email"
              placeholder="correo electrónico"
              required
            />

            <button type="submit">Confirmar pedido</button>
          </form>
        </section>

        <a href="/shopcart?tag=<%= data.tag %>&unparsed=<%= data.unparsed %>">Cancelar pedido</a>
      </main>
    </div>
  </body>
</html>
